$color-phone-number: '#03050F';

header{
    padding: 0px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    img {
        height: 32px;
    }
    .phone-number {
        display: flex;
        align-items: center;
        text-align: right;
        font-size: 16px;
        color: #{$color-phone-number};
        p.buy-notice {
            margin: 0px;
            margin-right: 16px;
            display: none;
            @media (min-width: 768px) {
                display: block;
            }
        }
        img {
            height: 20px;
            margin-right: 8px;
        }
        p.phone-number {
            margin: 0px;
            font-weight: bold;
        }
    }
    @media (min-width: 768px) {
        padding: 12px 0px;
    }
}