@use './header';
@use './footer';
@use './flexible-health';
@use './plains';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body, #root{
    background-color: #F8F9FF;
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    z-index: 0;
}