.number-circle-body {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    color: #FFF;
    text-align: center;
    span {
        font-size: 12px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0.4px;
        text-align: center;
    }
}